/* global properties */
* {
    box-sizing: border-box;
}

body {
    background-color: #20202D;
    margin: 0;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 945px;
    margin: auto;
}

.section {
    padding: 64px 0 92px 0;
}

.section-title {
    margin: 0 0 84px 0;
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
}

.button {
    border-radius: 5px 5px 10px 10px;
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0 4px 0 0 #B68500;
    border: none;
    padding: 24px 42px;
    color: #2E2E30;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

/* her-header */
.hero {
    padding: 50px 0 150px 0;
    background: linear-gradient(0deg, #000 0.01%, rgba(0, 0, 0, 0.00) 95.44%);
}

.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 105px 0;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-link {
    margin: 0 0 0 20px;
}

.social-link:first-child {
    margin: 0;
}

.hero-subtitle {
    display: block;
    color: #FFBB01;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 14px 0;
}

.hero-title {
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.hero-description {
    max-width: 400px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 40px 0;
}

.hero-avatar {
    width: 389px;
    height: 389px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url('../img/avatar.jpg');
    background-repeat: no-repeat;
    background-position: center top -40px;
    border: 14px solid #FFF;
}

/* main */

/* features */

.features {
    background-color: #000;
}

.features-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features-item {
    width: 30%;
    margin: 0 0 64px 0;
}

.features-image {
    display: block;
    margin: 0 0 24px 0;
}

.features title {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin: 0 0 16px 0;
}

.features-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
}

/* projects */

.projects {
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 95.44%);
}

.projects-slide {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 2px solid #FFBB01;
    border-radius: 24px;
    margin: 0 20px;
    padding: 32px;
    box-shadow: #FFBB01 0px 4px 0px 0px;
}

.projects-image {
    width: 338px;
    height: 330px;
    margin: 0 64px 0 0;
}

.projects-text {
    display: flex;
    flex-basis: 60%;
    flex-wrap: wrap;
}

.projects-title {
    flex-basis: 100%;
    color: #FFF;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin: 0 0 40px 0;
}

.projects-time,
.projects-cost {
    flex-basis: 50%;
    margin: 0 0 44px 0;
}

.projects-time,
.projects-cost,
.projects-feedback {
    display: flex;
    align-items: flex-start;
}

.projects-icon {
    margin: 0 16px 0 0;
}

.projects-subtitle {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin: 0 0 8px 0;
}

.projects-paragragh {
    max-width: 480px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin: 0;
}

.projects-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 44px 0 0 0;
}

.projects-bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #FFBB01;
    border-radius: 50%;
    margin: 0 5px;
}

.projects-bullet-active {
    background-color: #FFBB01;
}

/* form */

.contacts-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-form {
    max-width: 380px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: -5px 5px 0 0 #FFC41D;
    padding: 40px 48px 48px 48px;
}

.form-title {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin: 0 0 30px 0;
}

.input {
    border-radius: 5px;
    border: none;
    background: #F8F8F8;
    box-shadow: 0 3px 10px 0 rgba(199, 199, 199, 0.25) inset;
    padding: 18px 0 20px 50px;
    width: 100%;
    color: #949494;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.input-name {
    margin: 0 0 18px 0;
    background-image: url(../img/user-icon.svg);
    background-repeat: no-repeat;
    background-position: center left 20px;
}

.input-phone {
    margin: 0 0 18px 0;
    background-image: url(../img/phone-icon.svg);
    background-repeat: no-repeat;
    background-position: center left 20px;
}

.form-button {
    width: 100%;
}

/* contacts-text */

.contacts-text {
    flex-basis: 50%;
}

.contacts-data {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 42px 0;
}

.contacts-phone,
.contacts-mail {
    width: 50%;
    margin: 0 0 52px 0;
}

.contacts-title {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

.contacts-social {
    flex-basis: 100%;
}

.contacts-link {
    text-decoration: none;
    color: inherit;
    margin: 0 36px 0 0;
}

.contacts-link:hover {
    text-decoration: underline;
}

.contacts-policy {
    display: inline-block;
    color: #A5A5A5;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    text-decoration-line: underline;
    margin: 72px 0 0 0;
}